<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('hyperbolic-viz.static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('hyperbolic-viz.static', filename='img/favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ url_for('hyperbolic-viz.static', filename='h_main.css') }}">
    <title>Hyperbolic Vizualization</title>
</head>
<body>
    <div class="row">
        <h1>GH Probability Density Function Visualization</h1>
    </div>
    <div class="row">
        <canvas id="vizChart" style="max-width: 75%; max-height: 600px;"></canvas>
    </div>

    <div class="row">
        <div class="col">
            <h3>Lock parameters to distribution</h3>
            <button id="hyper-btn" onclick="onclick_hyper()">Hyperbolic</button>
            <button id="sl-btn" onclick="onclick_sl()">Scaled Laplace</button>
            <button id="st-btn" onclick="onclick_st()">Student's T</button>
            <button id="nig-btn" onclick="onclick_nig()">Normal Inverse Gaussian</button>
        </div>

        <div class="col">
            <table>
                <tr>
                    <td><label for="lambda">Lambda: </label></td>
                    <td><input type="number" id="lambda" name="lambda" value="0" onchange="val_change()"></td>
                </tr>
                <tr>
                    <td><label for="alpha">Alpha: </label></td>
                    <td><input type="number" id="alpha" name="alpha" value="0" onchange="val_change()"></td>
                </tr>
                <tr>
                    <td><label for="beta">Beta: </label></td>
                    <td><input type="number" id="beta" name="beta" value="0" onchange="val_change()"></td>
                </tr>
                <tr>
                    <td><label for="delta">Delta: </label></td>
                    <td><input type="number" id="delta" name="delta" value="0" onchange="val_change()"></td>
                </tr>
                <tr>
                    <td><label for="mu">Mu: </label></td>
                    <td><input type="number" id="mu" name="mu" value="0" onchange="val_change()"></td>
                </tr>
            </table>
            <button onclick="val_change()">Redraw</button>
            <p style="color: red" id="a-b-error">Error: must have -alpha < beta < alpha</p>
            <p style="color: red" id="nyi-error">Error: parameter domain is not yet implemented</p>
        </div>
    </div>

    <script src="{{ url_for('hyperbolic-viz.static', filename='h_main.js') }}"></script>
</body>
</html>
